*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
.container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-img{
  width:100%;
  position: absolute;
  top:0;
  left: 0;
}
.title-img{
  position: absolute;
  top:20px;
  left: 28px;
  width: 50%;
}
.bg-img-gif{
  position: absolute;
  top: 2%;
  left: 68%;
  width: 18%;
}
.pl1-img{
  position: absolute;
  top: 2%;
  left: 68%;
  width: 18%;
}
.pl2-img{
  position: absolute;
  top: 23%;
  left: 35%;
  width: 30%;
}
.pl3-img{
  position: absolute;
  top: 24%;
  left: 68%;
  width: 27%;
}
.pl4-img{
  position: absolute;
  top: 35%;
  left: 65%;
  width: 20%;
}
.pl5-img{
  position: absolute;
  top: 55%;
  left: 27%;
  width: 35%;
}
.pl6-img{
  position: absolute;
  top: 60%;
  left: 65%;
  width: 31%;
}
.pl7-img{
  position: absolute;
  bottom:0;
  left: 6%;
  width: 60%;
}

.show-vedio{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.vedio-play{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
}
.introduce{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
}
.intro-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.open-app-btn{
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
}
.open-down-btn{
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
}
.share-btn{
  position: absolute;
  top: 60%;
  left: 15%;
  width: 70%;
}
.close-btn{
  position: absolute;
  bottom: 9%;
  left: 44%;
  width: 12%;
}
.share-box{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #58595B;
  display: none;
}
.share-tip{
  width: 94%;
  margin-top: 30%;
  margin-left: 3%;
}
p{
  position: absolute;
  font-size: 1rem;
  font-family: '黑体';
  bottom: 3%;
  width: 40%;
  left: 30%;
}
